td { vertical-align: top; }
body {margin:30; padding:30; background-color:#fa1a4e;} 
a {font-family:Courier; color:#ffffff;}
label {font-family:Courier; color:#ffffff;}
h1 {font-family:Courier; color:#ffffff;}
h2 {font-family:Courier; color:#ffffff;}
h3 {font-family:Courier; color:#ffffff;}
h4 {font-family:Courier; color:#ffffff;}
h5 {font-family:Courier; color:#ffffff;}
h6 {font-family:Courier; color:#ffffff;}
p {font-family:Courier; color:#ffffff;}
li {font-family:Courier; color:#ffffff;}
ul {font-family:Courier; color:#ffffff;}
ol {font-family:Courier; color:#ffffff;}
span {font-family:Courier; color:#ffffff;}
